
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
   
}

main {
    max-width: 500px;
    margin: auto;
    width: auto;
}

.emailForm {    
    width: auto;
}


h1 {
    border-bottom: 1px solid lightgray;
}

.formContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
}

/* Styling for submit and reset buttons */

.buttonContainer {
    margin: 0 auto;
}

button {
    justify-content: center;
    margin-top: 5px;
}

/* Radio buttons */

.radioButton {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
}

/*input[type="radio"] {
    vertical-align: middle;
    margin: 0;

}*/

label {
    justify-content: left;
    padding-top: 10px;
    padding-bottom: 2px;
    vertical-align: middle;
}

fieldset div {
    align-items: center;
}

fieldset {
    display: inline-block;
    width: 300px;
}

legend {
    padding: 0;
}

input, label, textarea, fieldset {
    width: 100%;    
    margin-bottom: 5px;
}



div label {
    padding-top: 10px;
}

@media all and (min-width: 600px) {

    main {
        width: 100%;
        padding: 20px;
    }
}